{% extends "layout.html" %}

{% block title %}Log Sales{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='log_sales.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            Name: Olivia Caulfield
        </div>
        <div class="col-2">
            UNI: OGC2111
        </div>
    </div>

    <div class="row">
        <div class="header">
            Columbia Paper Infinity
            <div class="trash">
                trash
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"> </div>
        <div id="client-error" class="col-4 error-message text-input" style="display: none;">
            <p id="error-text"></p>
        </div>
        <div id="ream-error" class="col-3 error-message text-input" style="display: none;">
            <p id="error-text"></p>
        </div>
        <div class="col-2"> </div>
    </div>

    <div class="row">
        <div class="col-3"> Log your paper sales: </div>
        <div class="col-4 text-input">
            <input type="text" id="clientName" placeholder="Client">
        </div>
        <div class="col-3 text-input">
            <input type="text" id="reamsSold" placeholder="# Reams">
        </div>
        <div class="col-2">
            <button id="submit-button" class="btn standard-button">Submit</button>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='log_sales.js') }}"></script>
{% endblock %}