{% extends "layout.html" %}

{% block content %}
<br>
<div class="page-heading">
    <h2> Welcome to Cafe HQ </h2>
    <p> Your Headquarters for Remote Work-Friendly Cafes!</p>
</div>
<br>
    <h2>See all our NYC Cafes:</h2>
    <ul class="dark-grey" id="cafe-list">
        {% for cafe_dict in cafes %}
            {% for cafe_id, cafe in cafe_dict.items() %}
                <li>
                    <a class ="clickable" href="{{ url_for('view', id=cafe['id']) }}">
                        {{ cafe['name'] }}
                    </a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename='cafes.js') }}"></script>
{% endblock %}








