{% extends "layout.html" %}

{% block content %}
<br>
YOU ARE NOW EDITING THE CAFE
<div class="title-container">
    <h2> {{ cafe['name'] }} </h2>
    <p> {{ cafe['address'] }}</p>
    Rating: <strong>{{ cafe['rating'] }}</strong>
</div>

<div class="container mt-4">
    <div class="cafe-container">
        <img src="{{ cafe['image'] }}" alt="{{ cafe['image-text'] }}" class="cafe-image">

        <div class="cafe-details container">
            <div class="row">
                <div class="col-md-4"> Outlets: </div>
                <div class="col-md-8 dark-grey"> {{ cafe['outlets'] }} </div>
            </div>
                <div class="row">
                    <div class="col-md-4"> Wi-Fi:</div>
                    <div class="col-md-8 dark-grey"> {{ cafe['wifi'] }} </div>
                </div>
                <div class="row"> 
                    <div class="col-md-4">  Meeting Friendly: </div>
                    <div class="col-md-8 dark-grey"> {{ cafe['meeting_friendly'] }} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Seating Options: </div>
                    <div class="col-md-8 dark-grey"> {{ cafe['seating_type'] | join(', ') }} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Noise Level: </div>
                    <div class="col-md-8 dark-grey"> {{ cafe['noise_level'] }} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Lighting: </div>
                    <div class="col-md-8 dark-grey"> {{ cafe['lighting'] }} </div>
                </div>  
            <br>

            <div class="row">
                <div class="col-md-4"> Food: </div>
                <div class="col-md-8 dark-grey"> {{ cafe['food'] }} </div>
            </div>
            <div class="row">
                <div class="col-md-4"> Drink: </div>
                <div class="col-md-8 dark-grey"> {{ cafe['drink'] }} </div>
            </div>
            <div class="row">
                <div class="col-md-4"> Pastry: </div>
                <div class="col-md-8 dark-grey"> {{ cafe['pastry'] }} </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4"> Similar Cafes: </div>
                <div class="col-md-8 dark-grey">
                    {% for similar_cafe in similar_cafes %}
                        <a class="clickable" href="{{ url_for('view', id=similar_cafe['id']) }}">{{ similar_cafe['name'] }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>            
            
        </div>
    </div>
    <br>
    <p style="font-size: 21px;" class="dark-grey"> <span style="color: black;">About: </span>{{ cafe['description'] }}</p>
    <div class="row edit-row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <a href="{{ url_for('view', id=cafe['id']) }}" id="save-btn" class="btn standard-button">Save Changes</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <a href="{{ url_for('view', id=cafe['id']) }}" id="discard-btn" class="btn standard-button">Discard Changes</a>
        </div>
    </div>
    <br>
</div>
{% endblock %}



