{% extends "layout.html" %}

{% block content %}
<br>
<div class="page-heading">
    <h2> Welcome to Cafe HQ </h2>
    <p> Your Headquarters for Remote Work-Friendly Cafes!</p>
</div>

<div class="container mt-4">
    <h2>
        <div class="dark-grey">
            <span style="font-weight: bolder">Caution! </span>
            You are now editing:
        </div>
        <span>{{ cafe['name'] }} </span></h2>
    <br>
    <div class="row add-row">
        <div class="col-2"> Cafe Name: </div>
        <div class="col-4 text-input">
            <input class="long-input" type="text" id="name" value="{{ cafe.name }}">
        </div>
    </div>

    <div class="row add-row">
        <div class="col-2"> Image URL: </div>
        <div class="col-4 text-input">
            <input class="long-input" type="text" id="image" value="{{ cafe.image }}">
        </div>
    </div>

    <div class="row add-row">
        <div class="col-2"> Image Text: </div>
        <div class="col-4 text-input">
            <input class="long-input" type="text" id="image-text" value="{{ cafe.image_text }}">
        </div>
    </div>

    <div class="row add-row">
        <div class="col-2"> Address: </div>
        <div class="col-4 text-input">
            <input class="long-input" type="text" id="address" value="{{ cafe.address }}">
        </div>
    </div>

    <div class="row add-row">
        <div class="col-2"> Description: </div>
        <div class="col-4 text-input">
            <textarea class="long-input" id="description">{{ cafe.description }}</textarea>
        </div>
    </div>

    <div class="row add-row">
        <div class="col-2"> Rating: </div>
        <div class="col-4 text-input">
            <input type="number" id="rating" step="0.1" min="1" max="5" value="{{ cafe.rating }}">
        </div>
    </div>

    <div class="row add-row">
        <div class="col-2"> Outlets: </div>
        <div class="col-4 text-input">
            <select id="outlets">
                <option value="good" {% if cafe.outlets == 'good' %}selected{% endif %}>Good</option>
                <option value="bad" {% if cafe.outlets == 'bad' %}selected{% endif %}>Bad</option>
                <option value="ample" {% if cafe.outlets == 'ample' %}selected{% endif %}>Ample</option>
            </select>
        </div>
    </div>
    <div class="row edit-row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <a href="{{ url_for('view', id=cafe['id']) }}" id="save-btn" class="btn standard-button">Save Changes</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <a href="{{ url_for('view', id=cafe['id']) }}" id="discard-btn" class="btn standard-button">Discard Changes</a>
        </div>
    </div>
    <br>
</div>
{% endblock %}



