{% extends "layout.html" %}

{% block content %}
    <br>
    <div class="page-heading">
        <h2> Welcome to Cafe HQ </h2>
        <p> Your Headquarters for Remote Work-Friendly Cafes!</p>
    </div>
    <br>
    <h2>Popular Cafes This Week:</h2>
    <ul class="dark-grey">
        {% for cafe in fav_cafes %}
            <li>
                <a class ="clickable" href="{{ url_for('view', id=cafe['id']) }}">{{ cafe['name'] }}</a>
            </li>
        {% else %}
            <li>No popular cafes found.</li>
        {% endfor %}
    </ul>
{% endblock %}
