{% extends "layout.html" %}

{% block content %}
<br>
<div class="title-container">
    <h2> {{ cafe['name'] }} </h2>
    <p> {{ cafe['address'] }}</p>
    Rating: <strong>{{ cafe['rating'] }}</strong>
</div>

<div class="container mt-4">
    <div class="cafe-container">
        <img src="{{ cafe['image'] }}" alt="{{ cafe['image-text'] }}" class="cafe-image">

        <div class="cafe-details container">
            <div class="row">
                <div class="col-md-4 light-grey"> <!-- Headings Column -->
                    Outlets: <br>
                    Wi-Fi: <br>
                    Meeting Friendly: <br>
                    Seating Type: <br>
                    Noise Level:<br>
                    Lighting:<br>
                </div>
                <div class="col-md-8 dark-grey"> <!-- Answers Column -->
                    {{ cafe['outlets'] }}<br>
                    {{ cafe['wifi'] }}<br>
                    {{ cafe['meeting_friendly'] }}<br>
                    {{ cafe['seating_type'] | join(', ') }}<br>
                    {{ cafe['noise_level'] }}<br>
                    {{ cafe['lighting'] }}<br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 light-grey">
                    Food:<br>
                    Drink:<br>
                    Pastry:<br>
                </div>
                <div class="col-md-8 dark-grey">
                    {{ cafe['food'] }}<br>
                    {{ cafe['drink'] }}<br>
                    {{ cafe['pastry'] }}<br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 light-grey">
                    <p>Similar Cafes:</p>
                </div>
                <div class="col-md-8 dark-grey">
                    {% for cafe_id in cafe['similar_cafes'] %}
                        <a class="clickable" href="{{ url_for('view', id=cafe_id) }}">{{ cafe['name'] }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <p  style="font-size: 21px;" class="dark-grey"> {{ cafe['description'] }}</p>
    <br>
</div>
{% endblock %}



