.base-color{
    color: #ffcc8c;
}
.accent-color{
    color: #cb7969; 
}
.light-grey{
    color: #f8f9fa
}
.dark-grey{
    color: #706b6a
}
.page-heading {
    background-color: #ffcc8c;
    padding: 30px 20px;
    border-radius: 8px;
}
.page-heading h2 {
    margin-bottom: 8px;
    font-weight: bold;
}
.page-heading p {
    font-size: 18px;
    margin-bottom: 0;
}
.title-container{
    background-color: #ffcc8c;
    padding: 20px 20px;
    border-radius: 5px;
}
.title-container h2 {
    margin-bottom: 1px; /* Less space between name and address */
}
.title-container p {
    margin-bottom: 12px; /* Increase space before the rating */
}
.cafe-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    gap: 20px; /* Space between image and text */
}
.cafe-details {
    flex: 1; /* Allow text content to take remaining space */
    max-width: 600px; /* Adjust width to fit well */
}
.cafe-image {
    width: 550px;  /* Fixed width */
    height: 350px; /* Fixed height */
    object-fit: cover; /* Ensures cropping instead of stretching */
    border-radius: 5px;
}
.clickable{
    text-decoration: underline;
    color: #cb7969; 
}
.clickable:hover {
    text-decoration: underline;
    color: #cb7969; 
    font-weight: bold;
}
/* Search Button */
.btn {
    background-color: #f8f9fa;
    border-color: #cb7969;  /* Accent color for button */
    color: #cb7969;  /* Text color */
    margin-left: 4px;
}
.btn:hover {
    background-color: #cb7969;  /* Accent color on hover */
    color: white;  /* Text color when hovered */
    border-color: #cb7969;  /* Keep border color */
}
/* Nav bar coloring*/
.navbar {
    background-color: #b0a4a0; /* Light grey background */
}
.navbar .navbar-nav .nav-link {
    color: #706b6a; /* Light grey text color for nav links */
}
.navbar .navbar-brand {
    color: #706b6a; /* Light grey text color for brand */
}
.navbar .navbar-nav .nav-link:hover {
    color: #cb7969; /* Accent color on hover */
    font-weight: bold;
}
.navbar .navbar-brand:hover {
    color: #cb7969; /* Accent color on hover */
    font-weight: bold;
}


/* Popular cafes formatting*/
.popular-cafes {
    background-color: #ffcc8c;
    padding: 15px 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 1px;
}
.cafe-card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.card-text{
    color: #706b6a;
}
.cafe-card:hover {
    transform: scale(1.03);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
}
.cafe-link {
    text-decoration: none;
    color: #cb7969;
}
.cafe-link:hover {
    color: #cb7969;
    text-decoration: underline;
}
.btn-accent {
    background-color: #f8f9fa;
    color: #b46355;
    padding: 8px 15px;
    border-radius: 5px;
    border-color: #b46355;
}
.btn-accent:hover {
    background-color: #b46355;
    color: #f8f9fa; 
}
/* END popular cafes formatting*/

.highlight {
    background-color: #ffcc8c;  /* Or any color you prefer */
    font-weight: bold;
}
.cafe-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #cb7969;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    height: 12px;
}

.text-input {
    display: flex;
    justify-content: flex-start;
    padding-left: 0 !important;
}

.add-row{
    padding-bottom: 8px;
}

.long-input{
    width: 100%;
}


#add-btn:hover {
    background-color: #cb7969;  /* Accent color on hover */
    color: white;  /* Text color when hovered */
    border-color: #cb7969;  /* Keep border color */
}

#add-btn{
    background-color: #f8f9fa;
    border-color: #cb7969;  /* Accent color for button */
    color: #cb7969;  /* Text color */
    margin-left: 4px;
}

.edit-row{
    margin-top: 100px;
}
#edit-btn:hover {
    background-color: #706b6a;  /* Accent color on hover */
    color: white;  /* Text color when hovered */
    border-color: #706b6a;  /* Keep border color */
}
#edit-btn{
    background-color: #f8f9fa;
    border-color: #706b6a;  /* Accent color for button */
    color: #706b6a;  /* Text color */
    margin-left: 4px;
    width: 100px;
}